<!--page to be displayed when user produces a 404 error-->

{% extends 'base.html' %} {% block content %}

<main class="container-fluid http-error">
  <div
    class="row justify-content-center error-div text-center align-items-center"
  >
    <div class="col-10 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body pt-sm-4">
          <h1 class="card-title">Ooops. Page not found</h1>
          <a
            class="btn btn-raised primary primary-hover p-text"
            href="{{url_for('index')}}"
            >Return to main page</a
          >
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
