body {
  padding-top: 80px;
}

.loggedin {
  color: red;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  body {
    padding-top: 130px;
  }
  
  #filter-check {
    width: 75%;
  }
  .navbar {
    
    padding-bottom: 0.5rem;
  }
  
}

@media (min-width: 1200px) {
  #filter-check {
    width: 55%;
  }
}
