body {
  height: 100vh;
}

#ingredients span {
  padding-top: 0rem;
}

.list-group-item {
  padding: 0.5rem;
}

pre {
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
}

.modal {
  padding-left: 0;
}
.mobile-image {
  width: 35vw;
  height: 35vw;
  object-fit: cover;
}

.desktop-image {
  height: 100%;
  
}

/*https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square*/
.image-square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image-square img {
  position: absolute;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  min-height: 150px;
}
.card-body-xs {
  padding: 0;
  min-height: 100px;
}
.card-title-xs {
  font-size: 1.2rem !important;
}
.card-xs {
  font-size: 0.7rem;
}

.recipe-image-lg {
  max-width: 25vw;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}


/* https://css-tricks.com/line-clampin/ */

.d-flex {
  min-width: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

html {
  --lh: 1rem;
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 2;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}