body {
  height: 100vh;
}

#ingredients span {
  padding-top: 0rem;
}

.list-group-item {
  padding: 0.5rem;
}

pre {
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
}

.modal {
  padding-left: 0;
}
.mobile-image {
  max-width: 30vw;
}

/*https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square*/
.image-square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image-square img {
  position: absolute;
}

.card-body-xs {
  padding: 0;
}
.card-title-xs {
  font-size: 1.2rem !important;
}
.card-xs {
  font-size: 0.7rem;
}

.recipe-image-lg {
  max-width: 20vw;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
