{% extends 'base.html' %} {% block content %}

<form action="" method="POST">
  <div class="card container mx-auto" id="edit-post-recipe">
    <div class="row justify-content-center">
      <div class="col-10">
        {{ form.hidden_tag() }}
        <h1 class="card-title pt-5">{{title}}</h1>

        <div class="form-group">
          {{form.recipe_name.label(class_="bmd-label-floating")}}
          {{form.recipe_name(class_="form-control", type="search")}} {% for
          error in form.recipe_name.errors %}
          <span>[{{error}}]</span>
          {% endfor %}
          <small id="recipeNameHelp" class="bmd-help"
            >Enter the name of your recipe</small
          >
        </div>

        <div class="form-group">
          {{form.recipe_desc.label(class_="bmd-label-floating")}}
          {{form.recipe_desc(class_="form-control", type="search")}} {% for
          error in form.recipe_desc.errors %}
          <span>[{{error}}]</span>
          {% endfor %}
          <small id="recipeDescHelp" class="bmd-help"
            >A brief description of your recipe</small
          >
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-4">
      <!--Ingredients section-->
      <div
        class="col-12 col-sm-7 mb-5 ml-4"
        id="ingredient-floating-label-target"
      >
        {{form.ingredients.label(class_="bmd-label-floating",
        id="main-ingredients-label")}} {{form.ingredients(class_="list-group
        list-group-flush")}} {% for error in form.ingredients.errors %}
        <small id="ingredientError" class="form-text" style="color: red"
          >{{error}}</small
        >
        {% endfor %}
        <div class="row mt-5">
          <div class="col-2 ml-3">
            <button
              type="button"
              class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm"
              id="add_ingredient"
            >
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="col-9">
            <small id="ingredientsHelp" class="form-text text-muted"
              >Press the button to add an ingredient.<br />
              Remove the ingredient by deleting the text.</small
            >
          </div>
        </div>
      </div>
      <!--Tags section, sm up-->
      <div class="col-sm-2 form-group mt-4 d-none d-sm-block">
        {% for tag in form.tags %}
        <div class="checkbox">
          <label>
            {{tag}}{{tag.label}}
          </label>
        </div>
        {% endfor %}
      </div>
      <!--Tags section, xs-->
      <div class="row px-4">
        {% for tag in form.tags %}
        <div class="col-4 d-block d-sm-none">
          <label class="checkbox-inline">
            {{tag}}{{tag.label}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--Method section-->
    <div class="row justify-content-center">
      <div class="form-group col-10">
        {{form.method.label(class_="bmd-label-floating")}}
        {{form.method(class_="form-control", type="search")}} {% for error in
        form.method.errors %}
        <small id="methodError" class="form-text" style="color:red"
          >{{error}}</small
        >
        {% endfor %}
        <small id="methodHelp" class="bmd-help"
          >Enter the method. Please use the return/enter key between
          steps</small
        >
      </div>
      <!--Submit button-->
      <div class="col-12 text-center mt-3 mb-5">
        {{form.submit(class_="btn btn-raised btn-success")}}
      </div>
    </div>
  </div>
</form>
{% endblock content %}
