<!--add_recipe.html is rended by flask-wtf and is used as the post and edit recipe form-->

{% extends 'base.html' %} {% block content %}
<main class="container navpad">
  <form action="" method="POST">
    <div class="card mx-auto" id="edit-post-recipe">
      <div class="featured text-center primary-dark p-text">
        <h1 class="card-title pt-3 font-weight-bold">{{title}}</h1>
      </div>
      <!--Name/description section-->
      <div class="row justify-content-center">
        <div class="col-10">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{form.recipe_name.label(class_="bmd-label-floating")}}
            {{form.recipe_name(class_="form-control", autocomplete="off",
            type="search")}} {% for error in form.recipe_name.errors %}
            <span class="error">[{{error}}]</span> {% endfor %}
            <small id="recipeNameHelp" class="bmd-help"
              >Enter the name of your recipe</small
            >
          </div>

          <div class="form-group">
            {{form.recipe_desc.label(class_="bmd-label-floating")}}
            {{form.recipe_desc(class_="form-control", autocomplete="off",
            type="search")}} {% for error in form.recipe_desc.errors %}
            <span class="error">{{error}}</span>
            {% endfor %}
            <small id="recipeDescHelp" class="bmd-help"
              >A brief description of your recipe</small
            >
          </div>
        </div>
      </div>
      <!--Ingredients section-->
      <div class="row justify-content-center pt-4">
        <div class="col-12 col-md-7 mb-5 align-items-center">
          {{form.ingredients.label(class_="bmd-label-floating pl-5",
          id="main-ingredients-label")}} {{form.ingredients(class_="list-group
          list-group-flush align-item-center mx-auto")}} {% for error in
          form.ingredients.errors %}
          <small class="error">{{error}}</small>
          {% endfor %}
          <div class="row mt-5 justify-content-center">
            <div class="col-2 ml-4">
              <button
                type="button"
                class="btn secondary-light secondary-light-hover bmd-btn-fab bmd-btn-fab-sm"
                id="add_ingredient"
              >
                <i class="material-icons">add</i>
              </button>
            </div>
            <div class="col-8 col-sm-7">
              <small id="ingredientsHelp" class="form-text text-muted py-2"
                >Press the button to add an ingredient</small
              >
            </div>
          </div>
        </div>
        <!--Tags section-->
        <div id="tags-container">
          {% for tag in form.tags %}
          <div class="tags-div">
            <label class="checkbox-inline">
              <!--classes for formatting are all applied after page loads in add_recipe.js
                classes depend on initial window load size, and apply a different set of classses
                when the window is resized. #tags-container (single unique element) & 
                .tags-div(class given to all elements after jinja template render) are used to target these elements-->
              {{tag}}{{tag.label}}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--Method section-->
      <div class="row justify-content-center mt-3">
        <div class="form-group col-10">
          {{form.method.label(class_="bmd-label-floating")}}
          {{form.method(class_="form-control", type="search")}} {% for error in
          form.method.errors %}
          <span class="error">{{error}}</span>
          {% endfor %}
          <small id="methodHelp" class="bmd-help"
            >Enter the method. Please use the return/enter key between
            steps</small
          >
        </div>
      </div>
      <!--Image section-->
      <div class="row justify-content-center mt-2">
        <div class="form-group col-10">
          {{form.image.label(class_="bmd-label-floating")}}
          {{form.image(class_="form-control", autocomplete="off")}}
          <small id="imageHelp" class="bmd-help"
            >Link to an image for this recipe. We do not host images, please use
            your favorite image hosting service</small
          >
        </div>
      </div>
      <!--Submit button-->
      <div class="card-footer text-center primary-dark p-text mt-4">
        {{form.submit(class_="btn btn-raised secondary-light
        secondary-light-hover s-text")}}
      </div>
    </div>
  </form>
</main>

{% endblock content %}
