<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Text on base.html</h1>
    {% block content %} {% endblock content %}

    <div id="like_button_container"></div>
    <div id="react-recipe-card"></div>

    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="../static/js/like_button.js"></script>
    <script src="../static/js/recipe_card.js"></script>
  </body>
</html>
