<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/base.min.css" />
    <link rel="stylesheet" href="../static/css/recipe_card.min.css" />
    <link rel="stylesheet" href="../static/css/add_recipe.min.css" />
    <link rel="stylesheet" href="../static/css/theme.min.css" />
    <link rel="stylesheet" href="../static/css/errors.min.css" />
    <link rel="stylesheet" href="../static/css/search.min.css" />
    <link rel="stylesheet" href="../static/css/profile.min.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert" id="flash">
      {{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% if
    self._TemplateReference__context.name not in ('/errors/404.html',
    '/errors/500.html') %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" id="main-logo" aria-label="Recipe Book logo" href="{{url_for('index')}}"
        ><img class="logo"aria-labelledby="main-logo" src="../static/images/logo.png"
      /></a>
      <div class="navbar-nav mt-2 mt-lg-0 ml-lg-auto d-lg-none">
        {% if current_user.is_authenticated %}
        <a
          class="nav-link text-center"
          href="{{url_for('profile', username=(current_user.username))}}"
        >
          <i class="material-icons secondary-color-text">account_circle</i>
        </a>
        {% else %}
        <a class="nav-link text-center" href="{{url_for('login')}}">
          <i class="material-icons">account_circle</i>
        </a>
        {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="container-fluid px-0" id="filter-check">
          <div class="row px-lg-0 mb-2 mb-md-1">
            <div class="col-12 col-lg-1 px-0">
              {% if current_user.is_authenticated %}
              <a
                class="nav-link d-lg-none text-right pt-0 s-text"
                href="{{url_for('logout')}}"
                >Logout</a
              >
              {%else%}
              <a
                class="nav-link d-lg-none text-right pt-0 s-text"
                href="{{url_for('login')}}"
                >Login</a
              >
              {% endif %}
            </div>
            <div class="col-12 col-lg-10 text-center px-0 pl-lg-auto">
              {% if self._TemplateReference__context.name not in
              ('loginform.html', 'register.html', 'add_recipe.html')%} {% if
              self._TemplateReference__context.name not in ('profile.html')%} {%
              include 'partials/search.html' %} {% endif %}
            </div>
            <div class="row mx-auto pl-sm-5">
              <div class="col-4 col-lg-2 pl-lg-0">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="filter-check-vegetarian"
                    value="Vegetarian"
                  />
                  Vegetarian
                </label>
              </div>
              <div class="col-4 col-lg-2">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="filter-check-vegan"
                    value="Vegan"
                  />
                  Vegan
                </label>
              </div>
              <div class="col-4 col-lg-2">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="filter-check-healthy"
                    value="Healthy"
                  />
                  Healthy
                </label>
              </div>
              <div class="col-4 col-lg-2">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="filter-check-snack"
                    value="Snack"
                  />
                  Snack
                </label>
              </div>
              <div class="col-4 col-lg-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="filter-check-main" value="Main" />
                  Main
                </label>
              </div>
              <div class="col-4 col-lg-2">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="filter-check-dessert"
                    value="Dessert"
                  />
                  Dessert
                </label>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        <!--https://stackoverflow.com/questions/11157631/how-to-get-file-name-of-current-template-inside-jinja2-template-->
      </div>
      <div class="navbar-nav mt-2 mt-lg-0 ml-lg-auto d-none d-lg-block">
        {% if current_user.is_authenticated %}
        <a
          class="nav-link text-center"
          href="{{url_for('profile', username=(current_user.username))}}"
        >
          <i class="material-icons secondary-color-text">account_circle</i>
        </a>
        <a class="nav-link pt-0 s-text" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="nav-link text-center" href="{{url_for('login')}}">
          <i class="material-icons">account_circle</i>
        </a>
        <a class="nav-link pt-0 s-text" href="{{url_for('login')}}">Login</a>
        {% endif %}
      </div>
    </nav>
    {{self._TemplateReference__context.name}} {% endif %} {% block content %} {%
    endblock content %} {% if self._TemplateReference__context.name not in
    ('/errors/404.html', '/errors/500.html') %}
    <footer>
      <div class="text-center py-3">
        © 2020 Copyright:
        <a href="https://www.github.com/wrengit">
          Design by wrenna <i class="material-icons">emoji_nature</i></a
        ><br />
        <small class="text-muted"
          >Site owner is not responsible for any user content. Efforts will be
          made to remove gratuitous or inflammatory content.</small
        >
      </div>
    </footer>
    {%endif%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script src="../static/js/base.min.js"></script>
    <script src="../static/js/add_recipe.min.js"></script>
    <script src="../static/js/recipe_card.min.js"></script>
    <script src="../static/js/like.min.js"></script>
    <script src="../static/js/profile.min.js"></script>
  </body>
</html>
