{% extends 'base.html' %} 

{% block content %} 

<div class="container navpad">
  <!--jumbotron-->
  <div class="jumbotron pb-2 primary-dark p-text">
    <h1 class="display-4">Recipe Book</h1>
    <p class="lead">An online recipe book where you can post new recipes, and seach through posted recipes</p>
    <hr class="white-background my-4">
    <p>Take a look around, post some content and get cooking!</p>
    <p class="lead text-center">
      <a class="btn s-text secondary-light secondary-light-hover btn-raised btn-lg" href="{{url_for('postrecipe')}}" role="button">Post a recipe!</a>
    </p>
  </div>
  <div class="row justify-content-center">
    {%for r in recipes %}
    <!--recipe card displayed on index.html-->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 filter-div px-2 pb-1 pb-lg-3" data-tags="{%for t in r.tags %}{{t+' '}}{%endfor%}">

      <!--xs recipe card layout-->
      <div class="card card-xs my-1 d-sm-none">
        <a data-toggle="modal"
        data-target=".{{r._id}}">
          <div class="d-flex flex-row ">
            <img class="mobile-image" src="{{r.image}}" onerror="if (this.src != '../static/images/imagefallback.jpg') this.src = '../static/images/imagefallback.jpg';" alt="Image of recipe">
            
            <div class="d-flex flex-column xxs-pad px-3 pt-3 pb-1 card-body card-body-xs">
              <h5 class="pl-2 mb-2 card-title line-clamp card-title-xs">{{r.name.lower().title()}}</h5>
              
              <p class="pl-2 xs-text">{{r.desc}}</p>
              
              
                <div class="d-flex mt-auto flex-row justify-content-around card-footer card-footer-xs">
                  {% for tag in r.tags %}
    
                  <div class="d-flex flex-column text-center align-self-end">
                    
                      <small class="primary-color-light-text"><i class="material-icons icon-small">done</i></small>
                      <small class="text-muted">{{tag}}</small>
                    
                    
                  </div>
    
                {% endfor %}
                </div>
              
                
              
            </div>
          </div>  
          
        </a>
      </div>

      <!--standard recipe card layout-->
      <div class="card my-1 d-none d-sm-block hvr-grow">
        <a data-toggle="modal"
        data-target=".{{r._id}}">
          <!--https://stackoverflow.com/questions/980855/inputting-a-default-
            image-in-case-the-src-attribute-of-an-html-img-is-not-vali-->
          <div class="image-square">
            <img class="card-img-top desktop-image image-fluid" src="{{r.image}}" onerror="if (this.src != '../static/images/imagefallback.jpg') this.src = '../static/images/imagefallback.jpg';" alt="Image of recipe">
          </div>
          <div class="card-body text-center py-2">
            <small class="d-none d-sm-block text-muted">Recipe by {{r.owner}}</small>
            <h5 class="card-title">{{r.name.lower().title()}}</h5>
            
            <p class="mb-0">{{r.desc}}</p>
          </div>
          <!--card footer-->
          <div class="card-footer p-1">
            <div class="d-flex flex-row justify-content-around card-xs">
              {% for tag in r.tags %}

              <div class="d-flex flex-column text-center">
                
                  <small class="primary-color-light-text"><i class="material-icons">done</i></small>
                  <small class="text-muted">{{tag}}</small>
                
                
              </div>

            {% endfor %}
            </div>
          </div>
        </a>
      </div>

      <!--recipe modal-->
      <div
            class="modal fade {{r._id}}"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <img class="card-img-top image-fluid d-lg-none" src="{{r.image}}" onerror="if (this.src != '../static/images/imagefallback.jpg') this.src = '../static/images/imagefallback.jpg';" alt="Image of recipe">

              <div class="card-body">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                  <h1 class="modal-title">{{r.name.lower().title()}}</h1>
                  <small class="text-muted">Recipe by {{r.owner}}</small>

                  <p class="card-text pt-2 font-weight-light">{{r.desc}}</p>
                </div>
                
                <hr>
                  <!--ingredients & large image-->
                <div class="d-flex flex-row align-items-center justify-content-around pt-3">
                  <div>
                    <h6 class="card-title">Ingredients</h6>
                    <ul class="list-group list-group-flush">
                    {% for i in r.ingredients %}
                      <li class="list-group-item">{{i}}</li>
                    {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <img class="rounded mx-auto d-none d-lg-block recipe-image-lg mr-5" src="{{r.image}}" onerror="if (this.src != '../static/images/imagefallback.jpg') this.src = '../static/images/imagefallback.jpg';" alt="Image of recipe">
                  </div>
                </div>
                <!--method-->
                <h6 class="card-title pt-3 pl-lg-5">Method</h6>
                <pre class="px-lg-5">{{r.method}}</pre>
                {% if r.owner == current_user.username or current_user.is_admin %}
                <hr>
                <!--button-->
                <div class="text-center">
                  <a
                  href="{{url_for('editrecipe', id=(r._id))}}"
                  class="btn btn-raised primary primary-hover p-text"
                  ><i class="material-icons p-text inline-icon">edit</i>   Edit Recipe</a
                  >
                  <button class="btn btn-raised secondary secondary-hover s-text recipe-delete-confirm" data-id={{r._id}}><i class="material-icons inline-icon s-text">delete</i>   Delete Recipe</button>
                </div>
                {% endif %}
              </div>
              <div class="card-footer">
                <div class="d-flex flex-row justify-content-around">
                  {% for tag in r.tags %}
    
                  <div class="d-flex flex-column text-center">
                    
                      <small class="primary-color-light-text"><i class="material-icons">done</i></small>
                      <small class="text-muted">{{tag}}</small>
                    
                    
                  </div>
    
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    {%endfor%}
  </div>
</div>

{% endblock content %}
