{% extends 'base.html' %} {% block content %}
<div class="container navpad">
  <!--jumbotron-->
  <div class="jumbotron pb-2 primary-dark p-text">
    <h1 class="display-4">Please login</h1>
    <hr class="my-4" />
    <div class="col-lg-6 col-md-8">
      <div class="card">
        <div class="card-body">
          <form method='POST'>
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{form.username.label(class_="bmd-label-floating")}}
              {{form.username(class_="form-control")}} {% for error in
              form.username.errors %}
              <span class="error">[{{error}}]</span>
              {% endfor %}
              <small id="recipeNameHelp" class="bmd-help">Enter username</small>
            </div>

            <div class="form-group">
              {{form.password.label(class_="bmd-label-floating")}}
              {{form.password(class_="form-control", autocomplete="off",
              type="password")}} {% for error in form.password.errors %}
              <span class="error">{{error}}</span>
              {% endfor %}
              <small id="recipeDescHelp" class="bmd-help">Enter password</small>
            </div>
            <div>
              {{form.login(class_="btn btn-raised primary primary-hover p-text")}}
            </div>
          </form>
        </div>
      </div>
    </div>

    <p class="lead pt-3">Not registered? Click below</p>
    <div class="col-12 col-md-2">
       <p class="lead">
        <a
            class="btn s-text secondary-light secondary-light-hover btn-raised btn-lg"
            href="{{url_for('register')}}"
            role="button"
            >Register</a
        >
        </p> 
    </div>
        
  </div>
</div>

{% endblock content %}
